
.for-login {
	width: 250px;
	margin: 70px auto;
}

.login {
	width: 200%;
	background: #34b3a0;
	height: 60px;
	float: right;
	line-height: 60px;
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
}

.login-form {
	width: 200%;
	background: white;
	box-sizing: border-box;
	padding: 40px;
	float: right;
	height: auto;
	padding-right: 0px;
	padding-left: 83px;
	padding-top: 40px;
}

.input {
	padding: 20px;
	float: left;
	width: 80%;
	margin-bottom: 30px;
	margin-top: none;
	font-size: 14px;
	outline: none;
	transition: all 0.5s ease;
	outline: none;
}
.input:focus {
	border: 2px solid #34b3a0;
}

#hh {
	width: 100%;
	height: auto;
	background: #34b3a0;
	text-align: center;
	line-height: 60px;
	text-transform: uppercase;
	margin-bottom: 30px;
	cursor: pointer;
}

.button {
	padding-right: 83px;
	padding-left: 0px;
	padding-top: 40px;
}
.show{
    display: block;
    padding-block-start: 0px;
    padding-right: 62px;
    padding-bottom: 21px;
    color: blue;
}
.displ{
    display: block;
    padding-block-start: 0px;
    padding-right: 62px;
    padding-bottom: 21px;
    color: blue;
}
.logout{
	ont: italic bold 12px/30px Georgia, serif;
    text-align: center;
    font-size: xx-large;
    padding-top: 84px;
}
.delete{
    ont: italic bold 12px/30px Georgia, serif;
    text-align: center;
    font-size: xx-large;
    padding-top: 84px;
}
}






