<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
<!-- 	<filter>
		<filter-name>FilterDemo</filter-name>
		<display-name>FilterDemo</display-name>
		<description></description>
		<filter-class>controller.FilterDemo</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FilterDemo</filter-name>
		<url-pattern>/FilterDemo</url-pattern>
	</filter-mapping> -->
	<!-- <filter>
		<filter-name>LoginFilter</filter-name>
		<display-name>LoginFilter</display-name>
		<description></description>
		<filter-class>controller.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/LoginFilter</url-pattern>
	</filter-mapping> -->
<!-- 	<servlet>
		<servlet-name>UpdatePageNav</servlet-name>
		<display-name>UpdatePageNav</display-name>
		<description></description>
		<servlet-class>controller.UpdatePageNav</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdatePageNav</servlet-name>
		<url-pattern>/UpdatePageNav</url-pattern>
	</servlet-mapping> -->
	<!-- <servlet>
		<servlet-name>LoginServlet</servlet-name>
		<display-name>LoginServlet</display-name>
		<description>controller</description>
		<servlet-class>controller.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteServlet</servlet-name>
		<display-name>DeleteServlet</display-name>
		<description></description>
		<servlet-class>controller.DeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteServlet</servlet-name>
		<url-pattern>/DeleteServlet</url-pattern>
	</servlet-mapping> -->
	<!-- <servlet>
		<servlet-name>RetrieveServlet</servlet-name>
		<display-name>RetrieveServlet</display-name>
		<description></description>
		<servlet-class>controller.RetrieveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RetrieveServlet</servlet-name>
		<url-pattern>/RetrieveServlet</url-pattern>
	</servlet-mapping> -->
	<!-- <servlet>
		<servlet-name>UpdateServlet</servlet-name>
		<display-name>UpdateServlet</display-name>
		<description></description>
		<servlet-class>controller.UpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateServlet</servlet-name>
		<url-pattern>/UpdateServlet</url-pattern>
	</servlet-mapping> -->
	<!-- <servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<display-name>LogoutServlet</display-name>
		<description></description>
		<servlet-class>controller.LogoutServlet</servlet-class>
	</servlet> -->
<!-- 	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping> -->
	
 <!--  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegistrationServlet</servlet-name>
  	<display-name>RegistrationServlet</display-name>
  	<description>controller</description>
  	<servlet-class>controller.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegistrationServlet</servlet-name>
  	<url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
   -->
</web-app>
